player-connection-mode=Listen
player-connection-guid=2503419634
player-connection-debug=1
player-connection-project-name=Sample_2D_01
player-connection-ip=172.28.64.1
player-connection-ip=172.28.96.1
player-connection-ip=192.168.0.15
wait-for-native-debugger=0
wait-for-managed-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
